@import "src/styles";

footer {
  display: flex;
  align-items: center;
  background: $light-blue;
  height: 30px;
  width: 100%;
  color: $dark-blue;
  gap: 5px;
  justify-content: flex-end;
}

footer span {

}
