@import "src/styles";

footer {
  display: flex;
  align-items: center;
  bottom: 0;
  background: $dark-blue;
  height: 30px;
  width: 100%;
  left: 0;
  color: #FFFFFF;
}

footer span {
  position: absolute;
  right: 84px;
}
