
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.app-wrap {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  background-size: cover;
  background-image: url('/assets/back.jpg');
}
