<section>
  <div class="site-description">
    <img class="alama-wrap"  src="assets/Alama-1-1.jpg" >
  </div>

  <div class="course-description math">
    <h3>Mathematics Video Courses</h3>
    <p>Learn math through our comprehensive video courses.</p>
    <button class="try-button" routerLink="math">Try</button>
  </div>

  <div class="course-description programming">
    <h3>Programming Video Courses</h3>
    <p>Master programming skills with our in-depth video courses.</p>
    <button class="try-button" routerLink="it">Try</button>
  </div>

  <div class="subscription-offer">
    <h3>Get Access to Premium Content</h3>
    <p>Subscribe to our premium membership and unlock exclusive video courses.</p>
    <button class="subscribe-button">Subscribe</button>
  </div>

</section>
