@import "src/styles";

section{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #f9f7f7;
}

.site-description {
  text-align: center;

  .alama-wrap{
    width: 50vw;
  }
}

.course-description {
  text-align: center;

  h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }

  p {
    margin-bottom: 20px;
  }

  .try-button {
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
  }
}

.subscription-offer {
  text-align: center;

  h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }

  p {
    margin-bottom: 20px;
  }

  .subscribe-button {
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
  }
}
button {
  width: 100px;
  height: 40px;
  font-family: "SourceSansPro-Regular";
  border-radius: 10px;
  color: black;
  font-size: 16px;
  border-style: none;
}

button:hover {
  background-color: $dark-blue;
  color: #FFFFFF;
}
