@import "src/styles";

.example-card {
  width: 300px;
  border-radius: 10px;
}

.wrap-course {
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  width: 80%;

}
.video-play {
  width: 300px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;

}
.video-play-img {
  width: 75px;
}

mat-card-title{
  height: 60px;
  text-align: center;
  --mat-card-title-text-size: 16px;
}
button:hover {
  background-color: $dark-blue;
color: #FFFFFF;
}

.button-wrap {
  display: flex;
  background-color: $light-blue;
  justify-content: space-around;
}
