@import "src/styles";

.wrap-video {
  height: 80vh;
  width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
p {
  //background-color: $dark-blue;
  //color: #FFFFFF;
  width: 600px;
  text-align: center;
  font-size: 30px;
}
