@import "src/styles";

header {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: space-around;
  width: 100%;
}

.wrap {
  display: flex;
  gap: 30px;
}

.logo {
  height:140px;
}

.login {
  height: 40px;
  width: 200px;
}

.logo-wrap,
.search-wrap,
.login{
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}

.search__input {
  width: 400px;
  height: 34px;
  border-radius: 10px;
  color: $light-blue;
  font-family: "SourceSansPro-Regular";
  border-color: $light-blue;
}

h1 {
  color: #FFFFFF;
  font-size: 30px;
  font-family: "SourceSansPro-Bold";
  text-align: left;
  font-weight: 700;
  text-transform: uppercase;
  line-height: normal;
  margin: 0;
}

.search__input {
}

.ico-login {
  color: white;

}

.user-login {
  line-height: 24px;
  letter-spacing: 0;
  color: #FFFFFF;
  font-size: 14px;
  font-family: "SourceSansPro-Regular";
  text-transform: none;
  text-align: left;
  height: 24px;
  width: 59px;
}

.ico-logout {
  color: white;
}

.button-logout {
  line-height: 24px;
  letter-spacing: 0;
  color: #FFFFFF;
  font-size: 14px;
  font-family: "SourceSansPro-Regular";
  text-transform: none;
  text-align: left;
  height: 24px;
  width: auto;
  opacity: 1;
  background-color: #303240;
  border: 0;
  padding: 0;
}

.navigate {
  display: flex;
  color: white;
  align-items: center;
  text-align: center;

}
button {
  width: 100px;
  height: 40px;
  font-family: "SourceSansPro-Regular";
  border-radius: 10px;
  color: black;
  font-size: 16px;
  border-style: none;
}

.button-reg:hover {
  background-color: $dark-blue;
  color: #FFFFFF;
}
.button-login {
  margin-right: 5px;
}

.menu-nav {
  width: 100px;
  background: rgba(70, 74, 90, 0.38);
  text-align: center;
  color: white;
  align-items: center;
  border-radius: 10px;
  height: 40px;
}

::ng-deep .mat-menu-panel {
  background-color: aqua; /* Цвет фона выпадающего меню */
  color: #333; /* Цвет текста выпадающего меню */
  border: none; /* Удалить границу выпадающего меню */
}

::ng-deep .mat-menu-item {
  padding: 8px 16px; /* Отступы внутри элементов меню */
}

::ng-deep .mat-menu-item:hover {
  background-color: #ddd; /* Цвет фона при наведении на элемент меню */
}


