@import "src/styles";

header {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: space-around;
  width: 100%;
}

.wrap {
  display: flex;
  gap: 30px;
}

.logo {
  height:140px;
}

.login {
  height: 40px;
  width: 200px;
}

.logo-wrap,
.search-wrap,
.login{
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}

.search__input {
  width: 400px;
  height: 34px;
  border-radius: 10px;
  color: $light-blue;
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
  border-color: $light-blue;
}

h1 {
  color: #FFFFFF;
  font-size: 30px;
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
  text-align: left;
  font-weight: 700;
  text-transform: uppercase;
  line-height: normal;
  margin: 0;
}

.ico-login {
  color: white;
}

.user-login {
  line-height: 24px;
  letter-spacing: 0;
  color: #FFFFFF;
  font-size: 14px;
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
  text-transform: none;
  text-align: left;
  height: 24px;
  width: 59px;
}

.ico-logout {
  color: white;
}

button {
  height: 40px;
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
  border-radius: 10px;
  color: black;
  font-size: 16px;
  border-style: none;
  background-color: $light-blue;
}

.button-reg {
width: 100px;
}

.button-reg:hover {
  background-color: $dark-blue;
  color: #FFFFFF;
}
.button-login {
  margin-right: 5px;
}

.menu-nav {
  text-align: center;
  color: white;
}

::ng-deep .mat-mdc-menu-item.mdc-list-item {
  height: auto;
}

::ng-deep .mat-mdc-menu-content .mat-mdc-menu-item .mdc-list-item__primary-text{
  font-size: 15px;
  text-wrap: normal;
}

.button-menu {
  height: 40px;
}

.button-menu:hover {
  background-color: $dark-blue;
  color: #FFFFFF;
}

.button-menu-item {
  background-color: #FFFFFF;
}

.button-menu-item:hover {
  background-color: $light-blue;
  color: #FFFFFF;
}


