<header>
  <div class="logo-wrap" routerLink="/" >
  <img src="assets/alama_logo.png"  alt="logo" class="logo">
  </div>
  <div class="wrap">
    <div class="search-wrap">
      <form class="search__form">
        <input type="text" class="search__input" placeholder="Type to search" >
      </form>
    </div>
    <div class="navigate">
    <div class="menu-nav">
      <button mat-button [matMenuTriggerFor]="menu" class="button-menu">Categories</button>
      <mat-menu #menu="matMenu" >
        <button mat-menu-item class="button-menu-item" routerLink="/smm">Smm</button>
        <button mat-menu-item class="button-menu-item" routerLink="/data-science">Data Science</button>
        <button mat-menu-item class="button-menu-item" routerLink="/ted">TED Talks</button>
        <button mat-menu-item class="button-menu-item" routerLink="/algorithms-data-structures">Algorithms and Structures</button>
      </mat-menu>
    </div>
  </div>
    <div class="login">
      <button *ngIf="login"  class="button-login button-reg" (click)="inLogin()">Log in</button>
      <button *ngIf="login" (click)="inLogin()" class="button-reg">Sign up</button>
      <!--<mat-icon class="ico-login-lg" *ngIf="login" (click)="inLogin()" >login</mat-icon>-->
      <button *ngIf="!login" (click)="inLogin()" class="button-reg">{{userInfo}}</button>
<!--      <mat-icon  class="ico-logout-lg" *ngIf="!login"  (click)="inLogin()">logout</mat-icon>-->
    </div>
  </div>

</header>

