<header>
  <div class="logo-wrap" routerLink="/" >
  <img src="assets/alama_logo.png"  alt="logo" class="logo">
  </div>
  <div class="wrap">
    <div class="search-wrap">
      <form class="search__form">
        <input type="text" class="search__input" placeholder="Qidirish uchun yozing" >
      </form>
    </div>
    <button routerLink="/">
      <mat-icon aria-hidden="false" aria-label="home icon" fontIcon="home" class="home-icon"></mat-icon>
    </button>
    <div class="navigate">
    <div class="menu-nav">
      <button mat-button [matMenuTriggerFor]="menu" class="button-menu">Kurslar</button>
      <mat-menu #menu="matMenu" >
        <button mat-menu-item class="button-menu-item" routerLink="/smm">Smm</button>
        <button mat-menu-item class="button-menu-item" routerLink="/data-science">Data sayns</button>
        <button mat-menu-item class="button-menu-item" routerLink="/ted">TED suhbatlari</button>
        <button mat-menu-item class="button-menu-item" routerLink="/algorithms-data-structures">Algoritmlar va ma'lumotlar tuzilmalari</button>
      </mat-menu>
    </div>
  </div>

    <div class="login">
      <button *ngIf="login"  class="button-login button-reg" (click)="inLogin()">Login</button>
      <button *ngIf="login" (click)="inLogin()" class="button-reg">Registratsiya</button>
      <!--<mat-icon class="ico-login-lg" *ngIf="login" (click)="inLogin()" >login</mat-icon>-->
      <button *ngIf="!login" (click)="inLogin()" class="button-reg">{{userInfo}}</button>
<!--      <mat-icon  class="ico-logout-lg" *ngIf="!login"  (click)="inLogin()">logout</mat-icon>-->
    </div>
  </div>

</header>

