<header>
  <div class="wrap">
    <div class="logo-wrap" routerLink="/" >
     <img src="assets/alama_logo.png"  alt="logo" class="logo">
    </div>

    <div class="search-wrap">
      <form class="search__form">
        <input type="text" class="search__input" placeholder="Type to search" >
      </form>
    </div>
    <div class="navigate">
    <div class="menu-nav">
      <button mat-button [matMenuTriggerFor]="menu" >Courses</button>
      <mat-menu #menu="matMenu" >
        <button mat-menu-item routerLink="/math">Math</button>
        <button mat-menu-item routerLink="/it">IT</button>
      </mat-menu>
    </div>
  </div>
    <div class="login">
      <mat-icon class="ico-login" *ngIf="login" (click)="inLogin()">login</mat-icon>
      <mat-icon  class="ico-logout" *ngIf="!login"  (click)="inLogin()">logout</mat-icon>
      <span class="user-login" >{{userInfo}}</span>
    </div>
  </div>

</header>

